body {
  background: #ddd;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: auto;
  border: 2px solid #fff;
  background: #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.5%;
  min-height: 34px;
  position: relative;
  border: 2px solid #fff;
}

.container *:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 200px;
  text-align: center;
  font-family: consolas, monaco, monospace;
  color: #666;
  font-size: 28px;
  letter-spacing: -1px;
  height: 28px;
  line-height: 1;
  margin-top: -14px;
  margin-right: -100px;
}

.container .nav {
  background: #333;
}

.container .nav:before {
  color: #ccc;
}

/*.container .main {
  border: 0;
  padding: 0;
  background: #abc;
}
.container .main:before {
  top: 25%;
  color: #468;
}
.container .content:before, .container .sidebar:before {
  color: #fff;
}

.header {
  padding-bottom: 8%;
}
.header:before {
  content: "<header>";
}

.nav:before {
  content: "<nav>";
}

.main {
  overflow: hidden;
}
.main:before {
  content: "<main>";
}

.content, .sidebar {
  padding-bottom: 40%;
}

.content {
  overflow: hidden;
}
.content:before {
  content: "<article>";
}

.sidebar {
  float: right;
  width: 30%;
  min-width: 180px;
}
.sidebar:before {
  content: "<aside>";
}

.footer:before {
  content: "<footer>";
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
